*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: aqua;
}
#game{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center
}
#board{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    height: 60vmin;
    width: 60vmin;
    gap : 8px
}

.box{
    width: 18vmin;
    height: 18vmin;
    font-size: 48px;
    background-color: beige;
    border: none;
    color: black;
}

#end, #new-game{
    padding: 8px;
    font-size: medium;
}

.messageContainer{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

#message{
    font-size: 64px;
}
.hide{
    display: none;
}
